<button id="plus_x_button" class="btn-floating btn-large waves-effect waves-light red"><i class="fa fa-plus" aria-hidden="true"></i></button>
    
<div id="viewonclicknav">
    <a href="#">Home</a><br class="mobile">
    <a href="#">Shorted Links</a><br class="mobile">
    <a href="#">About</a><br class="mobile">
    <a href="#">Contribute</a>
</div>