<div id="aboutpage">
    <br><br>
    <h3 class="container">About</h3>
    <br><br>
    <div class="container">
        A simple, basic URL shortening app built with <a href="https://nodejs.org">Node JS</a>, <a href="https://expressjs.com/">Express JS</a> and <a href="https://mongodb.org">MongoDB</a> on back-end. And <a href="https://materializecss.com/">Materialize</a>, <a href="https://developer.mozilla.org/bm/docs/Web/JavaScript">Javascript</a> and <a href="https://handlebarsjs.com/">handlebars JS </a> for templating on front-end.
        <br><br>
        <h5>Developer</h5>
        Hi 👋 I am Abdus and I am the developer of this 'not-so-good' URL-Shortening app. Read more about me on <a href="https://abdusdev.me">my website</a> or connect with me on <a href="https://linkedin.com/in/thisisabdus">LinkedIn</a>, <a href="https://instagram.com/this.codes">Instagram</a>, <a href="https://twitter.com/thisisabdus">Twitter</a> or on Discord as <a>Abdus#1541</a>
        <br><br>
        <h5>Contributors</h5>
        No one yet! You can check-out <em>contribution</em> details <a href="/contribute">here</a> if you want to contribute. Or you can send me email at <a href="mailto:dev.abdus@gmail.com">dev.abdus@gmail.com</a>.
    </div> 
</div>