<div id="indexpage">
    <form action="/" method="post">
        <div class="errorMessage">{{ errorMsg }}</div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" name="urlLONG" placeholder="http://" required>
          <label for="last_name">URL to Shorten</label>
          <button class="waves-effect waves-dark btn btn-black" type="submit">Short Now</button>
        </div>
    </form>
    <div id="responseFromServer">
        {{ data }}
    </div>
</div>