//- index.pug
doctype html
html
  head
    style
      include assets/style.css
  body
    nav
      a(href='/') HOME
      a(href='/short_urls') SHORTENED URLS
      a(href='/login') LOGIN
    h1 URL Shorten
    br
    br
    form(action='/', method='POST')
      input(type='url', name='url2shorten', placeholder='https://... *', required='true')
      br
      input(type='text', name='username', placeholder='Your Name *', required='true')
      br
      input(type='email', name='useremail', placeholder='Your Email *', required='true')
      br
      input(type='submit', value='Shorten!')