<div id="indexpage">
    <form action="/" method="post" id="shortUrlForm" onsubmit="return isValid()">
        <div class="errorMessage">{{ errorMsg }}</div>
        <div class="input-field col s6">
            <input id="longURL" type="url" class="validate" name="urlLONG" placeholder="http://" required>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <label for="last_name">URL to Shorten</label>
            <button class="waves-effect waves-dark btn btn-black" type="submit">Short Now</button>
        </div>
    </form>
    <br><br>
    <input type="text" id="hiddenInputForData" value="{{ data }}">
    <span id="responseFromServer">{{ data }}</span><br>
    <button class="waves-effect waves-dark btn btn-default center" id="copy-button" onclick="copyDivToClipboard()">Copy</button>
</div>