<div id="indexpage">
    <form action="/short" method="post">
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">URL to Shorten</label>
          <button class="waves-effect waves-dark btn" type="submit">Short Now</button>
        </div>
    </form>
    
    
    <button id="plus_x_button" class="btn-floating btn-large waves-effect waves-light red"><i class="fa fa-plus" aria-hidden="true"></i></button>
    
    <div id="viewonclicknav">
        <a href="#">Home</a><br class="mobile">
        <a href="#">Shorted Links</a><br class="mobile">
        <a href="#">About</a><br class="mobile">
        <a href="#">Contribute</a>
    </div>
</div>