//- index.pug
doctype html
html
  head
    style
      include assets/style.css
  body
    nav
      a(href='/') HOME
      a(href='/short_urls') SHORTENED URLS
      a(href='/login') LOGIN
    h1 URL Shorten
    br
    br
    | Your URL has been shortened. Thank you for using our service.
    br
    br
    a(href=url) #{ url }
    footer
      | © 2018. All Rights Reserved. Crafted with Love by 
      a(href='https://abdusdev.me') Abdus